*.swp
*.swo
*.DS_Store
*.pyc
npm-debug.log

output/
tests/
dist/
log/
tmp/*
!tmp/.gitkeep
.tmp/

# Logs
logs
*.log

# Dependency directory
node_modules
public/_components
public/components

*.DS_Store
