<div ng-controller="PartesWindowCtrl" layout-fill style="overflow: hidden;" style="position: relative;"
  ng-init="init(win)">
  <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;">
    <canvas class="three-view"></canvas>
  </div>

  <div layout="row" class="md-accent"
    style="position: absolute; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.1)">

    <md-button ng-click="savePart()" aria-label="Save"
      class="md-primary">

      <md-icon md-font-icon="mdi mdi-floppy"></md-icon>
    </md-button>

    <md-button ng-click="deletePart()" aria-label="Deletar"
      class="md-warn" ng-disabled="!fileId">

      <md-icon md-font-icon="mdi mdi-delete"></md-icon>
    </md-button>

  </div>

  <div class="drop-area" ng-show="dropping" layout="row" layout-align="center center">
    <div>Solte para carregar</div>
  </div>
</div>
