<div ng-controller="MenuCtrl as ctrl">
  <md-menu-bar>
    <!-- Servers -->
    <md-menu>
      <button ng-click="$mdOpenMenu()">
        Servers
      </button>

      <md-menu-content>

        <md-menu-item>
          <md-button ng-click="ctrl.action('Servers:create')">
            New Server
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="ctrl.action('Servers:startAll')">
            Start all servers
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="ctrl.action('Servers:stopAll')">
            Stop all servers
          </md-button>
        </md-menu-item>

      </md-menu-content>
    </md-menu>

    <!-- Developer -->
    <md-menu>
      <button ng-click="$mdOpenMenu()">
        Developer
      </button>

      <md-menu-content>

        <md-menu-item>
          <md-button ng-click="ctrl.action('App:openDevTools')">
            Open Developer Tools
          </md-button>
        </md-menu-item>

        <md-menu-item>
          <md-button ng-click="ctrl.action('App:openAppData')">
            Open AppData Folder
          </md-button>
        </md-menu-item>

        <md-menu-item>
          <md-button ng-click="ctrl.action('App:openExtensions')">
            Open Extensions Folder
          </md-button>
        </md-menu-item>

        <md-menu-item>
          <md-button ng-click="ctrl.action('App:reload')">
            Reload Window
          </md-button>
        </md-menu-item>

      </md-menu-content>
    </md-menu>
  </md-menu-bar>

</md-menu-bar>

</div>
