<div ng-controller="MenuCtrl as ctrl">
  <md-menu-bar>
    <md-menu>
      <button ng-click="$mdOpenMenu()">
        Arquivo
      </button>

      <md-menu-content>

        <md-menu-item>
          <md-menu>
            <md-button ng-click="$mdOpenMenu()">Novo</md-button>
            <md-menu-content>

              <md-menu-item>
                <md-button ng-click="ctrl.action('PartesWindow:open')">Parte 3D</md-button>
              </md-menu-item>

            </md-menu-content>
          </md-menu>
        </md-menu-item>

      </md-menu-content>
    </md-menu>
  </md-menu-bar>
</div>
