<md-list ng-controller="ServersPanelCtrl" ng-cloak style="padding: 0;">
  <md-list-item class="secondary-button-padding"
    ng-repeat="server in servers"
    ng-click="openServerWindow(server)">

    <small flex><strong>{{server}}</strong></small>
    <flex></flex>
    <div>
      <small class="label" style="font-size: 10px; margin-right: 8px;">
        Port {{serversPorts[server]}}
      </small>
    </div>

    <div style="font-size: 28px;">
      <md-icon
        md-font-icon="mdi mdi-play-circle"
        ng-show="serversState[server]"
        md-colors="{color: 'green-A700'}">
      </md-icon>

      <md-icon
        md-font-icon="mdi mdi-stop-circle"
        ng-hide="serversState[server]"
        md-colors="{color: 'red-A400'}">
      </md-icon>
    </div>

    <md-divider ng-if="!$last"></md-divider>
  </md-list-item>
</md-list>
