/*
  Modifies Angular List to be more condensed
*/
md-list-item.md-condensed {
  min-height: 28px;
}

md-list-item.md-condensed ._md-list-item-inner {
  min-height: 28px;
}

md-list-item.md-condensed .md-button {
  min-height: 28px;
  line-height: 28px;
}

md-list-item.md-condensed md-icon {
  margin: 0 !important;
}

/*
  Modifies padding in form input blocks
*/
md-input-container{
  margin: 18px 0 0 0;
}

/*
  Removes warning messages in servers-window
*/
.servers-window .md-errors-spacer{
  display: none;
}

/*
  Dropping area
*/
.drop-area {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  color: #FFF;
  font-size: 32px;
  font-weight: 300;
}

/*
  Nicer look to links
*/
.discrete-link{
  color: #457afb;
  text-decoration: none;
}


/*
  Label
*/
.label {
  padding: 4px 8px;
  border-radius: 8px;

  color: #FFF;
  background-color: #555;
}

/*
  Compacter button
*/
.md-compact {
  margin: 0;
  height: 24px;
  line-height: 24px;
  min-height: auto;
  font-size: 12px;
}

/*
  Log bar
*/
.logger-bar {
  transition: 0.2s background ease-in-out;
  box-shadow: 0 -1px rgba(255, 255, 255, 0.15);
  background-color: rgba(48,48,48,0.95) !important;
}

.logger-bar:not(.open):hover {
  background-color: rgba(48,48,48, 0.9) !important;
}

.logger-bar .opener{
  box-shadow: 0 -1px rgba(255, 255, 255, 0.10);
  cursor: pointer;
  z-index: 1;
}

.logger-bar .opener:focus{
  outline: 0;
}

.logger-bar .opener-info {
  font-size: 10px;
  color: #999;
}

.logger-bar .logs{
  transition: 0.6s height ease-in-out;
}

.logger-bar .logs:not(.opened){
  height: 0px !important;
}

.logger-bar .logs-container {
  padding: 16px;
}

.logger-bar .logs-container > pre{
  margin: 0;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.logger-bar .logs-container > pre.error{
  color: #ff5151;
  font-weight: bold;
}

.logger-bar .logs-container > pre.server{
  color: #51ff51;
}

.logger-bar .logs-container > pre.warn{
  color: #ffdc51;
}

.logger-bar .logs-container > pre.debug{
  color: #d2d2d2;
}

.logger-bar .lock-down{
  position: absolute;
  bottom: 32px;
  right: 8px;
  font-size: 24px;
  background-color: #defb4c;
  border-radius: 3px;
  width: 24px;
  height: 24px;
  line-height: 20px;
}

.logger-bar .lock-down > md-icon{
  color: #525252;
}
